*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
body{
	width: 1200px;
	margin: 10px auto;
	font-size: 100%;
	font-family: Arial, Verdana;
	text-align: left;
	background-color: rgb(211, 220, 232);
	line-height: 1.35em;
	box-sizing: border-box; 
}

.main, .nav{
	/*border: 1px solid red;*/
	width:100%;
	margin: 0 auto;
	height: 60px;
}
.main {
	height: 100px;
	margin-bottom: 5px ;
	padding: 20px 0 0;
	background: rgb(23, 17, 17);
	color: white;

	
}
.main h1{
	padding:0 0 20px 20px;
}
.main h2 {
	padding:0 0 20px 20px;
	}

.nav ul li {
	display: inline-block;
	padding: 10px 20px 10px 20px;
	font-weight: bold;
	font-size: 20px;
}

.nav {
	margin-bottom: 5px;
	background: linear-gradient(#e66465, #9198e5);
}

.first-article{
	margin-bottom: 5px;
	width:865px;
	margin: 10px ;
	padding: 20px;
	background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
	padding:10px;
}

.first-section {
	float: left;
	width: 886px;
	margin-bottom: 10px;
}
aside {
	float:left;
	width:304px;
	margin-left:10px; 
	height: 500px;
}

.last, .verylast{
	width: 290px;
	margin: 10px 5px 0;
	background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
	height: 300px;
	padding-top: 10px;
}
footer {
	clear: both;
	background-image: linear-gradient(to right, rgba(115,0,0,0), rgba(115,0,0,1));
}
.second .article1 {
	float: left;
	width:427px;
	margin-left: 10px;
	height:600px;
    padding:20px;
	background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

.article1 img{
	width: 100%;
	height:250px;
	box-shadow: 5px 5px 10px 5px #888888;
}
.second .article2 {
	float: left;
	width:427px;
	margin-left: 10px;
	padding:20px;
    height: 600px;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}
.article2 img {
	width:100%;
	height: 250px;
	box-shadow: 5px 5px 10px 5px #888888;
}
.first-article h1,p {
	margin: 10px;

}
.article1 h1,p {
	margin: 5px;
}
.article2 h1,p {
	margin: 5px;
}
 .asideh1 h1,ul {
	margin: 10px;
}
 .asideh2 h1,ul {
	margin: 10px;
}
footer {
	padding:10px;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

 h1 {
	font-size: 25px;
}
