*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}

@font-face {
	font-family: fonti;
	src: url("font/OpenSans-Regular.ttf");
}

body{
	max-width: 1200px;
	margin: 1em auto;
	font-size: 100%;
	font-family: Arial, Verdana;
	text-align: left;
	background-color: rgb(206, 82, 179);
	line-height: 1.35em;
	box-sizing: border-box; 
	font-family: fonti, sans-serif;
}

.main, .nav{
	
	width:100%;
	margin: 0 auto;
	height: 4em;
	


}
.main {
	height: 100px;
	margin-bottom: .3em ;
	padding: 1.5em 0 0;
	background: rgb(23, 17, 17);
	color: white;
}
.main h1{
	padding:0 0 1em 1.5em;
}
.main h2 {
	padding:0 0 5px 1.5em;
	}

.nav ul li {
	display: inline-block;
	padding: 20px 20px 10px 20px;
	font-weight: bold;
	font-size: 20px;
}
.nav ul li a {
	text-decoration: none;
	color: black;
	text-align: center;
}
.nav ul li a:hover{
	background: linear-gradient(#e66465, #9198e5);
	opacity: .8;
	padding: 5px 5px;

}



.nav {
	margin-bottom: 5px;
	background: linear-gradient(#e66465, #9198e5);
}

.first-article{
	margin-bottom: 5px;
	width:865px;
	margin: 10px ;
	padding: 20px;
	/*background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);*/
	padding:10px;
	background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,.7));
}

.first-section {
	float: left;
	width: 886px;
	margin-bottom: 10px;

}

aside {
	float:left;
	width:304px;
	margin-left:10px; 
	height: 500px;
}

.last, .verylast{
	width: 290px;
	margin: 10px 5px 0;
	background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,.8));
	height: 300px;
	padding-top: 10px;
}

footer {
	clear: both;
	background-image: linear-gradient(to right, rgba(115,0,0,0), rgba(115,0,0,1));
}
.second .article1 {
	float: left;
	width:427px;
	margin-left: 10px;
	height:600px;
    padding:20px;
	background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

.article1 img{
	width: 100%;
	height:250px;
	box-shadow: 5px 5px 10px 5px #888888;
}
.second .article2 {
	float: left;
	width:427px;
	margin-left: 10px;
	padding:20px;
    height: 600px;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}
.article2 img {
	width:100%;
	height: 250px;
	box-shadow: 5px 5px 10px 5px #888888;
}
.first-article h1,p {
	margin: 10px;

}
.article1 h1,p {
	margin: 5px;
}
.article2 h1,p {
	margin: 5px;
}
 .asideh1 h1,ul {
	margin: 10px;
}
 .asideh2 h1,ul {
	margin: 10px;
}

.finale {
	width: 100%;
	float:left;
	height: 630px;
	background: linear-gradient(#e66465, #9198e5);
	
}
.finale-article {

	width: 1180px;
	height:100%;
	margin: 0 auto;
	height:589px;
   
}

.same {
	width: 372px;
	float: left;
	height: 250px;
     margin: 10px 10px;
	 box-shadow: 8px 5px 8px 5px grey;
	 background-color: rgb(84, 50, 47);

	 
}
.article-one{
	 background-image: url("img/car3.jpg");
	 background-repeat: no-repeat;
	 background-size: cover;
	 height: 260px;
	 background-position: center;
}

.article-two{
	 background-image: url("img/car4.jpg");
	 background-repeat: no-repeat;
	 background-size: cover;
	 height: 260px;
	 background-position: center;
}
.article-three{
	 background-image: url("img/car7.jpg");
	 background-repeat: no-repeat;
	 background-size: cover;
	 height: 260px;
	 background-position: center;
}
.article-four{
	 background-image: url("img/car5.webp");
	 background-repeat: no-repeat;
	 background-size: cover;
	 height: 260px;
	 background-position: center;
}
.article-five{
	 background-image: url("img/cars8.jpg");
	 background-repeat: no-repeat;
	 background-size: cover;
	 height: 260px;
	 background-position: center;
}

.article-six{
	 background-image: url("img/car6.jpg");
	 background-repeat: no-repeat;
	 background-size: cover;
	 height: 260px;
	 background-position: center;
}

.set  {
	padding-top: 190px;
	padding-left: 10px;
	color: white;
}
.finale h1 {
	padding: 10px;
}



.review-section {
	width:100%;
   height: 630px;
   float:left;
}

.re {
	text-align: center;
	padding-top: 100px;
}

   .review {
	width: 99%;
	height: 29em;
	margin: .5em .3em;
	float: left;
}
 .sub-section-review {
 	/*width: 35.7em;*/
 	width:48%;
 	height: 28em;
 	float: left;
 	margin: .3em .7em;
 }

 .fix {
    
    width: 100%;
    margin: 2em 3.5em;
 
 }

 .fix-width {
 	width:300px;
 }

 /*.re5{
 	padding-left: 20px;
 }*/



  .fix-width2 {
 	width:250px;
 	margin-left: 50px;
 }
 



 .stylehp h2, .stylehp p {

 	margin-left: 3em;
 	margin-top: .5em;
 }

 .stylehp2 h2, .stylehp2 p {

 	margin-left: 6em;
 	
 }

  .stylehp2 h2{
  	font-size: 15px;
  }
   .stylehp2 p{
  	font-size: 13px;
  }

 .face1{
 	width: 3.5em;
 	border-radius: 50%;
 	padding-top: 2em;
 	float: left;
 	margin-left: 4em;


 }

 .face2{
 	width: 3em;
 	border-radius: 50%;
  	float: left;
 	margin-left: 5em;
 	margin-bottom: .5em;

 }

 .facestyle p {
 	float: left;
 	padding-top: 3em;
 	display: block;
 	padding-left: 2em
 }
 .facestyle2 p {
 	float: left;
  	display: block;
 	padding-left: 2em;
 	font-size: 13px;
 }

 .re1, .re2 {
 	
 	background: linear-gradient(#e66465, #9198e5);
 }

 .review-section2 {
   float:left;
   width:100%;
   height: 44em;
  
}

.re3{
   float:left;
   width:30%;
   height: 22em;
    margin-left: .8em;
    background: linear-gradient(#e66465, #9198e5);
    padding-top: 2em;
    padding-left: 2em;
}


.re4{
   float:left;
   width:30%;
   height: 22em;
    margin-left: .8em;
    background: linear-gradient(#e66465, #9198e5);
    padding-top: 2em;
     padding-left: 2em;
}

.re5{
	float: left;
	width:30%;
	height: 42em;
	float: left;
	 margin-left: 5em;
	 background: linear-gradient(#e66465, #9198e5);
	 padding-top: 2em

}



.re3 fix2 {
    
    width: 100%;
    /*margin: 2em 3.5em;*/
 
 }


footer {
	padding:10px;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

 h1 {
	font-size: 25px;
}

